            <nav class="language-nav">
                <ul>
                    <li>
                        <a href="{{ path('home', {'_locale': 'sr'}) }}">
                            <img
                                src="{{ asset('images/zastave i logoi/SRflag.jpg') }}"
                                alt="Srpski"
                                width="30"
                                height="20"
                            />
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('home', {'_locale': 'en'}) }}">
                            <img
                                src="{{ asset('images/zastave i logoi/UKflag.gif') }}"
                                alt="English"
                                width="30"
                                height="20"
                            />
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('home', {'_locale': 'es'}) }}">
                            <img
                                src="{{ asset('images/zastave i logoi/ESflag.png') }}"
                                alt="Español"
                                width="30"
                                height="20"
                            />
                        </a>
                    </li>
                </ul>
            </nav>