<li><a href="{{ path('page_show', {'slug': 'tips-for-parents', 'category': 'parents', 'locale':app.request.locale}) }}">Савети за родитеље</a></li>
<li><a href="{{ path('page_show', {'slug': 'tips-for-parents', 'category': 'parents', 'locale':app.request.locale}) }}">Општи савети</a></li>
<li><a href="{{ path('page_show', {'slug': 'tips-for-parents', 'category': 'parents', 'locale':app.request.locale}) }}">Фејсбук</a></li>
<li><a href="{{ path('page_show', {'slug': 'tips-for-parents', 'category': 'parents', 'locale':app.request.locale}) }}">Чет</a></li>
<li><a href="{{ path('page_show', {'slug': 'tips-for-parents', 'category': 'parents', 'locale':app.request.locale}) }}">Остало</a></li>
<li><a href="{{ path('page_show', {'slug': 'ресоурцес', 'category': 'parents', 'locale':app.request.locale}) }}">Ресурси</a></li>
<li><a href="{{path('contact', {'category': 'parents'})}}">{{"Contact Us" | trans}}</a></li>