<a href="{{ path('page_show', {'slug': 'tips-for-parents', 'category': 'parents', '_locale':app.request.locale}) }}">Савети за родитеље</a>
<a href="{{ path('page_show', {'slug': 'general-rules', 'category': 'parents', '_locale':app.request.locale}) }}">Општи савети</a>
<a href="{{ path('page_show', {'slug': 'surf', 'category': 'parents', '_locale':app.request.locale}) }}">Сурф</a>
<a href="{{ path('page_show', {'slug': 'social-network', 'category': 'parents', '_locale':app.request.locale}) }}">Друштвене мреже</a>
<a href="{{ path('page_show', {'slug': 'games', 'category': 'parents', '_locale':app.request.locale}) }}">Игрице</a>
<a href="{{ path('page_show', {'slug': 'resources', 'category': 'parents', '_locale':app.request.locale}) }}">Ресурси</a>
<a href="{{path('contact', {'category': 'parents'})}}">{{"Contact Us" | trans}}</a>