<li><a href="{{ path('page_show', {'slug': 'tips-for-kids', 'category': 'kids', 'locale':app.request.locale}) }}">Saveti za decu</a></li>
<li><a href="{{ path('page_show', {'slug': 'tips-for-kids', 'category': 'kids', 'locale':app.request.locale}) }}">Општи савети</a></li>
<li><a href="{{ path('page_show', {'slug': 'tips-for-kids', 'category': 'kids', 'locale':app.request.locale}) }}">Фејсбук</a></li>
<li><a href="{{ path('page_show', {'slug': 'tips-for-kids', 'category': 'kids', 'locale':app.request.locale}) }}">Чет</a></li>
<li><a href="{{ path('page_show', {'slug': 'tips-for-kids', 'category': 'kids', 'locale':app.request.locale}) }}">Остало</a></li>
<li><a href="{{ path('page_show', {'slug': 'tips-for-kids', 'category': 'kids', 'locale':app.request.locale}) }}">Ресурси</a></li>
<li><a href="{{path('contact')}}">{{"Contact Us" | trans}}</a></li>