<a href="{{ path('page_show', {'slug': 'tips-for-kids', 'category': 'kids', '_locale':app.request.locale}) }}">Saveti za decu</a>
<a href="{{ path('page_show', {'slug': 'general-tips', 'category': 'kids', '_locale':app.request.locale}) }}">Општи савети</a>
<a href="{{ path('page_show', {'slug': 'facebook', 'category': 'kids', '_locale':app.request.locale}) }}">Фејсбук</a>
<a href="{{ path('page_show', {'slug': 'chat', 'category': 'kids', '_locale':app.request.locale}) }}">Чет</a>
<a href="{{ path('page_show', {'slug': 'other', 'category': 'kids', '_locale':app.request.locale}) }}">Остало</a>
<a href="{{ path('page_show', {'slug': 'resources', 'category': 'kids', '_locale':app.request.locale}) }}">Ресурси</a>
<a href="{{path('contact', {'category': 'kids'})}}">{{"Contact Us" | trans}}</a>