{% extends 'page.html.twig' %}

{% block title %}{{ 'Contact Us'|trans }}{% endblock %}

{% block content %}
        <h1>{{ 'Contact Us'|trans }}</h1>
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.message) }}
        <button type="submit">{{ 'Send'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}