<!DOCTYPE html>
<html lang="sr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pametan klik - Saveti za decu</title>
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="icon" type="image/png" href="../../favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
    <button class="menu-toggle">☰</button>

    <nav class="nav-menu">
      <ul>
        <li><a href="#">Saveti za decu</a></li>
        <li><a href="opstisaveti.html">Општи савети</a></li>
        <li><a href="fejs.html">Фејсбук</a></li>
        <li><a href="cet.html">Чет</a></li>
        <li><a href="ostalo.htm">Остало</a></li>
        <li><a href="resursi.htm">Ресурси</a></li>
        <li><a href="pisitenam.php">Пишите нам</a></li>
      </ul>
    </nav>

        <header>
            <nav class="language-nav">
                <ul>
                    <li>
                        <a href="{{ path('home', {'_locale': 'sr'}) }}">
                            <img
                                src="{{ asset('images/zastave i logoi/SRflag.jpg') }}"
                                alt="Srpski"
                                width="30"
                                height="20"
                            />
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('home', {'_locale': 'en'}) }}">
                            <img
                                src="{{ asset('images/zastave i logoi/UKflag.gif') }}"
                                alt="English"
                                width="30"
                                height="20"
                            />
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('home', {'_locale': 'es'}) }}">
                            <img
                                src="{{ asset('images/zastave i logoi/ESflag.png') }}"
                                alt="Español"
                                width="30"
                                height="20"
                            />
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

    <main class="container2">
      <aside class="sidebar">
        <a href="pocetnadeca.html" class="active">Saveti za decu</a>
        <a href="opstisaveti.html">Општи савети</a>
        <a href="fejs.html">Фејсбук</a>
        <a href="cet.html">Чет</a>
        <a href="ostalo.htm">Остало</a>
        <a href="resursi.htm">Ресурси</a>
        <a href="pisitenam.php">Пишите нам</a>
      </aside>

      <section class="content">
        {% block content %}{% endblock %}
      </section>

      <aside class="game">
        <a href="http://www.wildwebwoods.org/popup.php?lang=cs" target="_blank">
          <img src="{{ asset('images/www.gif') }}" alt="Игрица" />
        </a>
        <a href="{{path('home')}}" target="_blank">
          <img
            src="{{ asset('images/mala-maja-nasmejanaRod.gif') }}"
            alt="Pametan klik za roditelje"
          />
        </a>
      </aside>
    </main>

    <!-- Footer -->
    {% include '_includes/footer.html.twig' %}

<!-- Scripts -->
    <script src="../../js/scripts.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Selektovanje hamburger menija i navigacije
        const menuToggle = document.querySelector(".menu-toggle");
        const navMenu = document.querySelector(".nav-menu");

        // Provera da li elementi postoje pre dodavanja event listenera
        if (menuToggle && navMenu) {
          menuToggle.addEventListener("click", function () {
            navMenu.classList.toggle("active"); // Dodaje/uklanja klasu 'active'
          });
        }
      });
    </script>
  </body>
</html>
